In [2]:
import pandas as pd
data = pd.read_csv(r"E:\codsoft\dataset\spam.csv")
data

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will �_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [3]:
data['spam_or_ham'] = data['v1']
data['content'] = data['v2']
data = data.drop(columns=["v1","v2","Unnamed: 2","Unnamed: 3","Unnamed: 4"])

In [4]:
data

     spam_or_ham                                            content
0            ham  Go until jurong point, crazy.. Available only ...
1            ham                      Ok lar... Joking wif u oni...
2           spam  Free entry in 2 a wkly comp to win FA Cup fina...
3            ham  U dun say so early hor... U c already then say...
4            ham  Nah I don't think he goes to usf, he lives aro...
...          ...                                                ...
5567        spam  This is the 2nd time we have tried 2 contact u...
5568         ham              Will �_ b going to esplanade fr home?
5569         ham  Pity, * was in mood for that. So...any other s...
5570         ham  The guy did some bitching but I acted like i'd...
5571         ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [9]:
print(data['spam_or_ham'].value_counts())
print(data['content'].unique())

spam_or_ham
ham     4825
spam     747
Name: count, dtype: int64
['Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...'
 'Ok lar... Joking wif u oni...'
 "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"
 ... 'Pity, * was in mood for that. So...any other suggestions?'
 "The guy did some bitching but I acted like i'd be interested in buying something else next week and he gave it to us for free"
 'Rofl. Its true to its name']

In [10]:
data['content']

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will �_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: content, Length: 5572, dtype: object

In [11]:
data['spam_or_ham'] = data['spam_or_ham'].apply(lambda x: 1 if x == 'spam' else 0)

In [12]:
data

      spam_or_ham                                            content
0               0  Go until jurong point, crazy.. Available only ...
1               0                      Ok lar... Joking wif u oni...
2               1  Free entry in 2 a wkly comp to win FA Cup fina...
3               0  U dun say so early hor... U c already then say...
4               0  Nah I don't think he goes to usf, he lives aro...
...           ...                                                ...
5567            1  This is the 2nd time we have tried 2 contact u...
5568            0              Will �_ b going to esplanade fr home?
5569            0  Pity, * was in mood for that. So...any other s...
5570            0  The guy did some bitching but I acted like i'd...
5571            0                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [13]:
import numpy as np

data.isna().sum()

spam_or_ham    0
content        0
dtype: int64

No nan values present
data is good

In [15]:
# import matplotlib.pyplot as plt
# import seaborn as sns
# plt.figure(figsize=(9, 9))  # Set larger width and height

# sns.heatmap(data.corr(), annot=True, cmap='coolwarm')
# plt.title("Scatter Plot")
# plt.xlabel("")
# plt.ylabel("")

# # Show the plot
# plt.show()

In [22]:
y = data['spam_or_ham']
X = data['content']

In [23]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size = 0.2, random_state = 3)

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

feature_extraction = TfidfVectorizer(min_df=1, stop_words="english", lowercase=True)

In [25]:
X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

In [26]:
X_train_features.shape

(4457, 7469)

In [29]:
print(X_train_features)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 34599 stored elements and shape (4457, 7469)>
  Coords	Values
  (0, 4497)	0.2910887633154199
  (0, 3369)	0.21816477736422235
  (0, 3251)	0.258880502955985
  (0, 3126)	0.4403035234544808
  (0, 2116)	0.38519642807943744
  (0, 3375)	0.32207229533730536
  (0, 6580)	0.20305518394534605
  (0, 4279)	0.3893042361045832
  (0, 3962)	0.2411608243124387
  (0, 742)	0.32207229533730536
  (1, 7420)	0.35056971070320353
  (1, 6422)	0.5652509076654626
  (1, 6397)	0.4769136859540388
  (1, 6850)	0.4306015894277422
  (1, 4045)	0.380431198316959
  (2, 5806)	0.4917598465723273
  (2, 2220)	0.413484525934624
  (2, 3899)	0.40088501350982736
  (2, 2103)	0.42972812260098503
  (2, 934)	0.4917598465723273
  (3, 7430)	0.5202633571003087
  (3, 1838)	0.3708680641487708
  (3, 1595)	0.5927091854194291
  (3, 6121)	0.4903863168693604
  (4, 1838)	0.36051481797205776
  :	:
  (4452, 4620)	0.40320245653157766
  (4453, 1758)	0.45610005640082985
  (4453, 7250)	0.5787739591782677
  (4453, 1000)	0.6760129013031282
  (4454, 5351)	0.42618909997886
  (4454, 7323)	0.31166263834107377
  (4454, 1050)	0.31932060116006045
  (4454, 1995)	0.4166919007849217
  (4454, 3078)	0.34475593009514444
  (4454, 2080)	0.3809693742808703
  (4454, 3019)	0.42618909997886
  (4455, 4755)	0.35860460546223444
  (4455, 3745)	0.16807158405536876
  (4455, 4235)	0.30616657078392584
  (4455, 2102)	0.3136468384526087
  (4455, 7384)	0.3028481995557642
  (4455, 7335)	0.2915949626395065
  (4455, 2755)	0.3226323745940581
  (4455, 6341)	0.25697343671652706
  (4455, 6413)	0.38998123077430413
  (4455, 1148)	0.38998123077430413
  (4456, 4541)	0.48821933148688146
  (4456, 1386)	0.4460036316446079
  (4456, 6114)	0.5304350313291551
  (4456, 6098)	0.5304350313291551

In [30]:
from sklearn.metrics import accuracy_score,confusion_matrix,precision_score,f1_score

from sklearn.naive_bayes import MultinomialNB
multinomialnb = MultinomialNB()

multinomialnb.fit(X_train_features,Y_train)
y_pred = multinomialnb.predict(X_test_features)

In [38]:
nb_cm=(confusion_matrix(Y_test,y_pred))
nb_acc = (accuracy_score(Y_test,y_pred))
nb_prec = (precision_score(Y_test,y_pred))
nb_f1 = (f1_score(Y_test,y_pred))

In [39]:
from sklearn.svm import SVC
sv = SVC()
sv.fit(X_train_features,Y_train)
y_pred1 = sv.predict(X_test_features)
svm_cm = (confusion_matrix(Y_test,y_pred1))
svm_acc = (accuracy_score(Y_test,y_pred1))
svm_prec=(precision_score(Y_test,y_pred1))
svm_f1=(f1_score(Y_test,y_pred1))

In [40]:

# Create a DataFrame with the metrics
results_df = pd.DataFrame({
    "Model": ["SVM", "Naive Bayes"],
    "Accuracy": [svm_acc, nb_acc],
    "Precision": [svm_prec, nb_prec],
    "F1-Score": [svm_f1, nb_f1],
    "Confusion Matrix": [svm_cm.tolist(), nb_cm.tolist()]
})

print(results_df)

         Model  Accuracy  Precision  F1-Score       Confusion Matrix
0          SVM   0.98296        1.0  0.934708  [[960, 0], [19, 136]]
1  Naive Bayes   0.97130        1.0  0.884892  [[960, 0], [32, 123]]

In [ ]:
# SVM has better results so select it